.logo {
  position: absolute;
  left: 10px;
  top: 10px;
}

.hero-section {
  background-image: linear-gradient(
      to right bottom,
      rgba(27, 176, 27, 0.83),
      rgba(165, 42, 42, 0.436)
    ),
    url("/hero/landing.jpg");
  background-position: top center;
  background-size: cover;
  max-height: 93vh;
  border-radius: 5px;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.hero-btn {
  margin-top: 50px;
  border-radius: 100px;
  padding: 12px 24px;
  text-transform: uppercase;
  transition: all 0.2s;
  font-weight: bold;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  animation: toUp 1s ease-out;
  position: relative;
}

.hero-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.hero-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.hero-btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.hero-btn::after {
  @apply bg-custom-warm;
}

.hero-btn:hover::after {
  transform: scale(1.4, 1.6);
  opacity: 0;
}

@keyframes toRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    opacity: 1;
    transform: translateX(10px);
  }
  90% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes toLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    opacity: 1;
    transform: translateX(-10px);
  }
  90% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes toUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-text-main {
  animation: toRight 1s ease-out;
}

.hero-text-sub {
  animation: toLeft 1s ease-out;
}
