//COLORS
$custom-grey: #B6CBBD;
$custom-brown: #754E1A;
$custom-warm: #CBA35C;
$custom-cream: #F8E1B7;
$custom-white: #fff;
$custom-green : rgba(21, 128, 60);

//Fonts
$font-size: 1.6rem;
$font-size-m:2rem;
$font-size-l: 3rem;

//Grid
$grid-width: 114rem;
$grid-width-sm: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

